# all files are ignored
/*
/.*

# white list
!/.bash_profile
!/.bashrc
!/.config
!/.git
!/.gitignore
!/.tmux.conf
!/.vim
!/install.d
!/setup.sh

# black list
/.config/fish/fishd.*
/.config/fish/fish_history
/.config/fish/functions/__*

